@import "https://52designs.vercel.app/components/main.css";

:root {
  --bg-color: #121212;
  --font-color: #ffffff;
  --white: #fff;
  --black: #0d0d0d;
  --primary: #6f00ed;
  --card-bg: #171717;
  --btn-bg-default: #3b3b3b;
  --btn-hover-bg-default: #424242;
  --red: #e21717aa;
  --green: #3dbe29aa;

  color-scheme: dark;
  font-size: 75%;
}

.light-mode {
  --bg-color: #eff6ff;
  --font-color: #000;
  --card-bg: #cbd5e1;
  --red: #e21717;
  --green: #3dbe29;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.container {
  width: min(90%, 50rem);
  margin: 0 auto;
}

.container > h1 {
  position: relative;
}

.toggle-theme {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.grid-container {
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.card {
  max-width: none;
}

/* larger than 480px */
@media only screen and (min-width: 30em) {
  :root {
    font-size: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* larger than 768px */
@media only screen and (min-width: 48em) {
  :root {
    font-size: 100%;
  }
}

/* larger than 1536px */
@media only screen and (min-width: 96em) {
  :root {
    font-size: 120%;
  }
}
